body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#avatar {
    margin: 0px 10px 0px 0px;
    height: 20px;
}

#search-bar {
    height: 30px;
    width: 20%;
    background-color: #faf;
    border-radius: 5px;
    background-color: transparent;
    
}

#logo {
    height: 40px;
}

#cart {
    height: 40px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.white-ft {
    color: white;
}

.black-ft {
    color: black;
}

.bold {
    font-weight: bolder;
}

.zero-marg{
    margin: 0;
}

.small-ft {
    font-size: smaller;
}

.large-ft {
    font-size: large;
}

.banner {
    background-color: #c00;
    height: 50px;
}

.container-main {
    box-shadow: 0 0 2px 0;
}

.container-top {
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container-storeinfo span {
    padding-right: 10px;
}

.container-opts a{
    padding-left: 15px;
}

.container-bottom {
    height: 90px;
    display: flex;
    margin: 0 16%;
    justify-content: space-between;
    align-items: center;
}

.avatar {
    display: flex;
    align-items: center;
}
